<!-- container -->
<div class="page contact" id="page">
	
	<!-- wrap -->
	<header id="header"></header>
	
	<!-- jumbotron -->
	<div class="jumbotron-wide" id="intro">
		<span class="wrap">
			<h1>CONTACT</h1>
		</span>
	</div>
	
	<!-- about content -->
	<div class="container main">
		
		<!-- -->
		<div class="static-page">

			<!-- sidebar -->
			<div class="sidebar hidden-xs">
			   <ul data-spy="affix" data-offset-top="190" data-offset-bottom="100">
					<li><a data-url="terms">TERMS OF USE</a></li>
					<li><a data-url="privacy">PRIVACY</a></li>
					<li class="active"><a data-url="contact">CONTACT</a></li>
					<li><a data-url="terms">HELP PAGE</a></li>
			   </ul>
			</div>

			 <!-- content -->
			<div class="content">
				<div class="pads">
					
					<h1>Contact</h1>
					<p>
						We cordially invite visitors of the EUscreen website to make comments or feedbacks by sending email.
						Your input is valuable as it will allow us to respond to requests from our end-users and to improve the experience 
						of EUscreen. Many thanks in advance for your assistance. Your input is much appreciated.
					</p>
					<a class="box-link" href="mailto:info@euscreen.eu">CONTACT US FOR FURTHER INQUIRIES</a></span>
				</div>
			</div>
		</div>
	</div>
	
	
	<!-- footer -->
	<footer id="footer"></footer>
</div>

<!-- mobile navigation, will slide -->
<div id="mobilenav" class="mobilenav"></div>