<!-- container -->
<div class="page help" id="page">
	
	<!-- wrap -->
	<header id="header"></header>

	<!-- jumbotron -->
	<div class="jumbotron-wide" id="intro">
		<span class="wrap">
			<h1>HELP PAGE</h1>
		</span>
	</div>
	
	<!-- about content -->
	<div class="container main">
		
		<!-- -->
		<div class="static-page">

			<!-- sidebar -->
			<div class="sidebar hidden-xs">
			   <ul data-spy="affix" data-offset-top="190" data-offset-bottom="100">
					<li><a data-url="terms">TERMS OF USE</a></li>
					<li><a data-url="privacy">PRIVACY</a></li>
					<li><a data-url="contact">CONTACT</a></li>
					<li class="active"><a data-url="help">HELP PAGE</a></li>
			   </ul>
			</div>

			 <!-- content -->
			<div class="content">
				<div class="pads">
					
					<h1>Video tutorials</h1>
					<p>
						These videos will help you to navigate in MyEUscreen. The first one is for
						 bookmarking videos and creating collections, the second one is for
						  creating a video poster and the third one is guiding you in sharing your 
						  collections and video posters to other MyEuscreen users. Let us know if 
						  the tutorials were useful: <font color="#3A3AEE">editors@euscreen.eu</font>
					</p>
					<div class="section">
						<div>
							<iframe class="modified-frame" id="testnew" name="change-frame" width="100%" height="444" src="https://www.youtube.com/embed/YNNLCW18FvY?autoplay=0&showinfo=0&controls=1" [^] frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-4">
									<div class="triggers" youtube-data="https://www.youtube.com/v/YNNLCW18FvY">
										<p class="play">Now playing</p>
										<div class="bg-1"></div>
										<div class="youtube-dummy-1">
											 <img src="/eddie/apps/euscreenxlelements/img/content/helppagebg/bookmark-screenshot.png" class="img-responsive" alt="Cinque Terre"> 
										</div>
										<p class="thumbnail-title">Bookmarking Videos and Creating Collections</p>
									</div>
								</div>
									
								<div class="col-md-4">
									<div class="triggers" youtube-data="https://www.youtube.com/v/xVKGrGVVbMU&feature=youtu.be">
										<p class="play">Now playing</p>
										<div class="bg-2"></div>
										<div class="youtube-dummy-2">
											<img src="/eddie/apps/euscreenxlelements/img/content/helppagebg/veioposter-screenshot.png" class="img-responsive" alt="Cinque Terre">
										</div>
										<p class="thumbnail-title">Creating a Video Poster</p>
									</div>
								</div>
								
								<div class="col-md-4">
									<div class="triggers" youtube-data="https://www.youtube.com/v/MP_I8ukahQU&feature=youtu.be">
										<p class="play">Now playing</p>
										<div class="bg-3"></div>
										<div class="youtube-dummy-3">
											<img src="/eddie/apps/euscreenxlelements/img/content/helppagebg/sharing-screenshot.png")" class="img-responsive" alt="Cinque Terre">
										</div>
										<p class="thumbnail-title">Sharing your Collections and Video Posters </p>
									</div>
								</div>
							</div>
						</div>
						
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12">
									<h1><b>F</b>requently <b>A</b>sked <b>Q</b>uestions about <b>MyEUscreen</b></h1> 
									<p class="video-page-modified-p-2">1. What can I do in MyEUscreen?</p>
									<p class="video-page-modified-p">In MyEUscreen you can bookmark EUscreen videos 
									(and other material you find on EUscreen) for later use. You can 
									also create collections grouping together the EUscreen videos 
									that you have bookmarked. It is possible to directly add EUscreen videos to your collections. 
									Beyond this, you can create Video Posters using videos from EUscreen, YouTube or Vimeo. 
									To create a Video Poster you select videos, add a header on top and your comments in a frame 
									below the videos using the template provided. You can share your Bookmarks, Collections and 
									Video Posters with other users and invite them to collaborate. See the above video tutorials on 
									<i>bookmarking, creating collections and video posters</i>.</p>
									 
									<p class="video-page-modified-p-2">2. How can I search for videos or other content on EUscreen?</p>
									<p class="video-page-modified-p">To search for videos or other content on <a href="http://www.euscreen.eu/" target="_blank" class="inner-a">EUscreen.eu</a>, type 
									in a search term in the search field on top of the page indicated by the magnifying glass symbol. 
									EUscreen search supports most European languages including all languages spoken in the 22 nations 
									that are the home to the institutions collaborating in EUscreen.
									Note that diacritical signs and language-specific letters that are not part of the standard Latin 
									alphabet such as - “ü”, “ø” or “ł” might cause problems within the search. 
									To refine a search, you can use the filters that are displayed in the left column next to the 
									search results. You can filter on language, decade, topic, provider, genre, country of production 
									and publisher. Filtering in this way allows you to search the EUscreen collection in a more 
									advanced way. You can also find a video tutorial explaining how to search on EUscreen on <a href="https://www.youtube.com/watch?v=zAZzFJ19YOA" target="_blank" class="inner-a">YouTube</a>.</p>
									
									<p class="video-page-modified-p-2">3. Can I do an advanced search on EUscreen?</p>
									<p class="video-page-modified-p">This version of the EUscreen portal allows for advanced search 
									by filters for initial search results. After you have carried out an initial search using 
									single search terms, you can filter the results on language, decade, topic, provider, genre, 
									country of production and publisher. You can activate filters by clicking on the categories 
									displayed in the left column next to the search results and then choosing them for one particular 
									option within the respective category, for example for “Romania” in the language filter, or 
									“Health” in the topic filter, etc. You can use several filters at the same time to refine your 
									search. You can also find a video tutorial explaining how to search on EUscreen on <a href="https://www.youtube.com/watch?v=zAZzFJ19YOA" target="_blank" class="inner-a">YouTube</a>.</p>
									 
									<p class="video-page-modified-p-2">4. Are particular browsers recommended for using MyEUscreen?</p>
									<p class="video-page-modified-p">Generally, the EUscreen website should work well with all recent 
									versions of browsers on all platforms. However, we highly recommend using the most recent 
									<a href="http://www.google.com/chrome/" target="_blank" class="inner-a">Google Chrome browser</a>, as this assures you the most optimal performance. 
									Regarding play-out of video we are aware that the Digital Rights Management (DRM) system of EUscreen is very strict 
									and that this can result in playout errors on Internet Explorer and the Firefox browser, 
									especially when they are operated from a company network with firewalls installed. We are 
									searching for a way to fix this issue and we will update this FAQ list when we have found 
									a way to do this.</p>
									 
									<p class="video-page-modified-p-2">5. Can I also use my smart phone for MyEUscreen</p>
									<p class="video-page-modified-p">The EUscreen website is an adaptive website, which means 
									that the interface changes depending on the type of device you are using to browse it. 
									Currently, the general portal functions are fully supported for use on mobile devices. You 
									can also login, search for videos and bookmark on a mobile phone. <i>Using the MyEUscreen 
									dashboard to really start building your Video Poster and sharing your results with others, 
									<b>is not supported for mobile use yet</b>. We recommend that you use a desktop computer for these 
									functionalities</i>.</p>
									  
									<p class="video-page-modified-p-2">6. How do I bookmark a video or other item on EUscreen?</p>
									<p class="video-page-modified-p">Choose a video from the homepage or search for a particular 
									video using the search field on top of the homepage. Click on the chosen video to play it. 
									Below the video you see three symbols, the first - the © symbol - displays the copyright 
									information, the second - three dots with connecting lines - to share the item with others, 
									and the third - the heart symbol - to bookmark it. If you are not logged in to MyEUscreen, 
									you will be asked to do so before you can proceed with bookmarking. Once you are logged in 
									you will be offered the option to add the item to an existing or a new collection. You can 
									find a video tutorial explaining how to bookmark a video on the top of 
									this page and also on <a href="https://www.youtube.com/watch?v=YNNLCW18FvY" target="_blank" class="inner-a">YouTube</a>.</p>
									  
									<p class="video-page-modified-p-2">7. How do I create a collection or add videos to one of my existing collections?</p>
									<p class="video-page-modified-p">You can create collections in two different ways. If you 
									know what collections you want to create, you can simply click on the “Collections” menu in 
									MyEUscreen and then on the “+”-symbol in the blue field below the “Collections” menu. A frame 
									opens where you can type the name of the new collection and a short description. Click on “Save” 
									and you will find that collection in the list of your collections.</br></br>
									You can also create a new collection when searching or watching videos on EUscreen. 
									Below any video on EUscreen on the playout screen, you will see three symbols, the 
									first (the c symbol) to display the copyright information, the second (three dots with 
									connecting lines) to share the item with others and the third (the heart symbol) to 
									bookmark it. If you are not logged in to MyEUscreen, you will be asked to do so first. 
									You will then be offered the option to add the item to an existing or a new collection. 
									Click in the field “ADD TO NEW COLLECTION” and type the name of the new collection in the 
									field “New collection name”. Click on “CREATE AND ADD ITEM”. Now you have created a new 
									collection and added one video. A green pop-up window in the upper right of the homepage 
									will confirm that you have successfully added the video to the collection</br></br>
									If you want to add another video to the new collection or to an existing collection, 
									click on the bookmarking frame (this opens after you have clicked on the heart symbol below a video) 
									and then click on the “v” symbol in the “Bookmarks” field to open a frame displaying all your 
									existing collections. Click on the name of the collection you want to add the video to and then 
									click on “DONE” to add it. A green pop-up window in the upper right of the homepage will confirm 
									that you have successfully added the video to the collection. 
									If a video has been added to a collection before, the name of that collection will be 
									greyed-out in the list of your collection and you cannot add it again. 
									You can find a video tutorial explaining to create a collection and add videos to a 
									collection on the top of this page and also on <a href="https://www.youtube.com/watch?v=YNNLCW18FvY" target="_blank" class="inner-a">YouTube</a>.</p>
									      
									<p class="video-page-modified-p-2">8. How do I create a Video Poster?</p>
									<p class="video-page-modified-p">First, you log in to <a href="http://euscreen.eu/myeuscreen.html?page=login" target="_blank" class="inner-a">MyEUscreen</a>. Then, you click on 
									“Video Posters” in the upper left of the page and follow the following steps:
									<ol>
									<li>Click on the “+” symbol to create a new Video Poster.</li>
									<li>Choose the format for your poster by clicking on one of the four options displayed.</li>
									<li>Choose the colour scheme for your poster by clicking on one of the options displayed. Note: you cannot change format or colour scheme once you have started adding videos or text to the poster.</li>
									<li>Add EUscreen videos that you have bookmarked or added to one of your collections before 
									by dragging them into the particular squares of the format. If you want to add videos 
									from YouTube or Vimeo you first click on the “+” symbol in the field click either on the 
									Vimeo or the YouTube logo. Add the URL or the particular video and click on “submit”.</li>
									<li>Add a header and your comment, explanation, memory or story below or the selected videos. 
									Note: you cannot edit the letter type or size of the header, but you can edit the layout of the 
									text you have added. You can also add hyperlinks to other sources related to the videos in your 
									poster.</li>
									</ol></p>
									  
									<p class="video-page-modified-p-2">9. How do I save a Video Poster?</p>
									<p class="video-page-modified-p">All your steps are saved automatically and therefore you will 
									not find a “save” button in the poster creation mode. You can preview your video poster at any 
									moment by clicking on the green “Preview” field in the upper right of the page. To end preview, 
									click on the “x”-symbol in the upper right again. To return to MyEUscreen and to your Bookmarks, 
									Collections and Video Posters, click on the “x”- symbol in the upper right of the page. You can 
									find the video tutorial explaining how to bookmark a video on the top 
									of this page and also on <a href="https://www.youtube.com/watch?v=xVKGrGVVbMU" target="_blank" class="inner-a">YouTube</a>.</p>
									  
									<p class="video-page-modified-p-2">10. How can I change or edit a Video Poster?</p>
									<p class="video-page-modified-p">When you have created a Video Poster, it will be displayed 
									when you click on “Video Posters” in MyEUscreen.</br> Your Video Posters and Collections will 
									only be visible when you are logged in to MyEUscreen. All your Video Posters will be displayed 
									here including those that other users have shared with you. If you click on the <i>pen</i> symbol 
									next to the poster (the one in the middle between the <i>share</i> and the <i>trash</i> symbols) you can 
									start editing the Video Poster.</br> You will only have the right to edit Video Posters or 
									collections that were shared with you by other users if the creator of the Video Posters 
									has given you the right to edit.</p>
									     
								    <p class="video-page-modified-p-2">11. How do I share a video poster?</p>
									<p class="video-page-modified-p">Once you have created a Video Poster, you can share it with other users:
									<ol>
									<li>Close the preview mode by clicking on the “x” symbol in the upper right.</li>
									<li>You will see the new Video Poster on the list of your Video Posters. </li>
									<li>Click on the button with the share symbol (which is the first of the three 
									little blue symbols next to the <i>pen</i> symbol for editing and the <i>trash</i> symbol for 
									erasing an existing Video Poster).</li>
									<li>Add the email address of an already registered user of MyEUscreen.</li>
									<li>Click “send invite”.</li>
									<li>Choose the rights for this person by choosing between the options “can view”, “can comment”, “can edit” or “stop sharing”.</li>
									<li>Click on “Save changes” to confirm your choice. Now your video is shared.</li>
									<li>Click on “Close” to return to MyEUscreen</br>
									The person you have shared the video with, will receive an email with the following message:</br>
									“Hello! [<i>your username</i>] would like to share a Video Poster with you! Please log in to 
									you account on MyEUscreen on euscreen.eu or register for MyEUscreen on euscreen.eu.”</li>
									</ol></p>
									 
									<p class="video-page-modified-p-2">12. What can I do with video posters?</p>
									<p class="video-page-modified-p">You can use this tool in various ways. You can send a 
									video poster to a friend, but this friend will need to have a MyEUscreen account. You 
									can use it as an assignment for your students in the classroom. You can plan a campaign 
									and share news. You can comment on one, two, or four Videos, compare them, tell a story 
									with them or share information about these videos. You can write and share a video essay 
									or create an academic poster. The only limit is your imagination.</br>
									You can see examples of Video Posters published on the EUscreen homepage <a href="http://www.euscreen.eu/" target="_blank" class="inner-a">www.euscreen.eu</a></br>
									Note: In the future, you will be able to suggest your video posters for publication on 
									the EUscreen homepage by sharing your Video Poster/s with EUscreen’s editorial team. 
									(editors[at]euscreen.eu).</p>
									 
									<p class="video-page-modified-p-2">13. What can I do with collections?</p>
									<p class="video-page-modified-p">You can create lists of videos with the same subject for 
									later use, for example for presentations or for use in the classroom.  Or you can share your 
									collections with other registered users of EUscreen.eu, for example when you share the same 
									interest in a topic or if you want to collaborate with someone researching a particular topic 
									or genre.</p>
									 
									<p class="video-page-modified-p-2">14. Can I edit videos from EUscreen and use just a fragment for a video poster?</p>
									<p class="video-page-modified-p">Due to copyright reasons, it is not possible to edit 
									videos and to use only a fragment of a clip for a Video Poster. </p>
									 
									<p class="video-page-modified-p-2">15. What are the Terms of Use?</p>
									<p class="video-page-modified-p">Terms of Use define the conditions for using videos and 
									other material on EUscreen. EUscreen does not own the copyright of the collected videos on 
									EUscreen.eu; these are contributed by many different audiovisual archives all over Europe. 
									The Terms of Use also define the copyright of content created by users of EUscreen.eu, for 
									example collections or Video Posters. In accepting the Terms of Use, users of MyEUscreen agree 
									that EUscreen owns the copyright for any contribution by users on MyEUscreen. Please see the full 
									Terms of Use <a href="http://euscreen.eu/terms.html" target="_blank" class="inner-a">here</a>.</p>
									 
									<p class="video-page-modified-p-2">16. Where are my Video Posters and Collections saved?</p>
									<p class="video-page-modified-p">Your Bookmarks, Collections and Video Posters are saved in 
									your MyEUscreen account, stored on a server provided by EUscreen’s Dutch partner <a href="http://www.noterik.nl/" target="_blank" class="inner-a">Noterik</a> in 
									Amsterdam (The Netherlands). You can always access your Bookmarks, Collections and Video Posters 
									by logging in to MyEUscreen. EUscreen’s privacy policy applies for the storage of the data you 
									share when registering on MyEUscreen and creating Bookmarks, Collections and Video Posters. See 
									EUscreen’s privacy policy <a href="http://euscreen.eu/privacy.html" target="_blank" class="inner-a">here</a>.</p>
									     
								    <p class="video-page-modified-p-2">17. How can I retrieve my Video Posters?</p>
									<p class="video-page-modified-p">To retrieve your Video Posters, log in to your account on 
									MyEUscreen and click on “Video Posters” in the menu on the upper right of the page.</p>
									
									
									<p class="video-page-modified-p-2">18. Can I share my Video Posters on Facebook or other social media?</p>
									<p class="video-page-modified-p">Currently, you <b>cannot</b> share your Video Posters on Facebook 
									or other social media. In the near future the option for users to suggest their Video Posters 
									for publication on the EUscreen homepage will be implemented. Users will be able to share their 
									Video Posters with the EUscreen editorial team (editors[at]euscreen.eu) and if the editorial 
									team accepts the Video Poster for publication, you will have access to your created Video Poster 
									on the home page and you can then share it on social media.</p>
									 
									<p class="video-page-modified-p-2">19. Can I publish my Video Posters on the homepage of EUscreen?</p>
									<p class="video-page-modified-p">You cannot publish your Video Posters on the homepage of 
									EUscreen yourself. For copyright reasons EUscreen has to review Video Posters suggested by users 
									for publication before publishing them. At the moment, the editorial mechanism is not fully in place yet,  
									but you can already suggest your Video Posters for publication by sharing the Video Poster with 
									EUscreen’s Editorial Team (editors[at]euscreen.eu). If a Video Poster is accepted for publication, 
									you can see it on the home page. Please take into account that it can take some time before 
									everything is checked, but the the editorial team will inform you be email when the Video 
									Poster is visible on the homepage.</p>
									 
									<p class="video-page-modified-p-2">20. Who has access to my Video Posters?</p>
									<p class="video-page-modified-p">Only yourself and other registered users you have shared your 
									Video Posters with have access. You can therefore use Video Posters in groups, for example in a 
									classroom, when all members of that group are registered as users on MyEUscreen.</p>
									 
									<p class="video-page-modified-p-2">21. Who is the EUscreen’s Editorial Team?</p>
									<p class="video-page-modified-p">EUscreen’s Editorial Team is a team of editors 
									(archivists & academics) that review Video Posters and other contributions suggested by users 
									for publication on the EUscreen homepage. For copyright reasons, the editorial team has to check 
									all Video Posters suggested for publication according to EUscreen’s <a href="http://euscreen.eu/terms.html" target="_blank" class="inner-a">Terms of Use</a> and paragraph 6.9 
									in particular. It states the following: “The Contributions you post on the Website must be 
									respectful and relevant to the topic. Notwithstanding the provisions set out in article 3.2, 
									you guarantee that you will not circulate any Contributions which:</p>
									 
									<ul class="modified-faq-ul">
									<li>are defamatory, abusive, harassing, insulting and/or threatening or that could be deemed stalking;</li></br>
									<li>are bigoted, hateful or racially offensive;</li></br>
									<li>are vulgar, obscene or sexual explicit (language or images);</li></br>
									<li>encourage or advocate illegal activity or the discussion of illegal activities with the intent to commit them;</li></br>
									<li>contains knowingly false statements, libel or slander;</li></br>
									<li>has a commercial, promotional or advertising purpose such as unwanted or unauthorized 
									advertisements, promotional material, "spam", chain letters, gambling games or other unwanted 
									messages.”</li></br>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- footer -->
	<footer id="footer"></footer>
</div>

<!-- mobile navigation, will slide -->
<div id="mobilenav" class="mobilenav"></div>