<!-- container -->
<div class="page help" id="page">
	
	<!-- wrap -->
	<header id="header"></header>

	<!-- jumbotron -->
	<div class="jumbotron-wide" id="intro">
		<span class="wrap">
			<h1>HELP PAGE</h1>
		</span>
	</div>
	
	<!-- about content -->
	<div class="container main">
		
		<!-- -->
		<div class="static-page">

			<!-- sidebar -->
			<div class="sidebar hidden-xs">
			   <ul data-spy="affix" data-offset-top="190" data-offset-bottom="100">
					<li><a data-url="terms">TERMS OF USE</a></li>
					<li><a data-url="privacy">PRIVACY</a></li>
					<li><a data-url="contact">CONTACT</a></li>
					<li class="active"><a data-url="help">HELP PAGE</a></li>
			   </ul>
			</div>

			 <!-- content -->
			<div class="content">
				<div class="pads">
					
					<h1>Video tutorials</h1>
					<p>
						Lorem ipsum dolor sit amet, non nullam sit, ut tortor posuere,
						convallis vestibulum tristique vivamus ullamco quisque vulputate,
						tempus massa. Neque praesent elit dolor, dictum nullam placerat donec 
						sit. Magna porttitor lectus convallis enim amet, ultricies pulvinar metus
						elit magna. Torquent ut. Nec curabitur nesciunt ac auctor accumsan, 
						ac aliquam. 
					</p>
					<div class="section">
						<div>
							<iframe name="change-frame" width="100%" height="515" src="https://www.youtube.com/embed/YNNLCW18FvY?autoplay=0&showinfo=0&controls=0" [^] frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-4">
									<a href="https://www.youtube.com/v/YNNLCW18FvY" target="change-frame">
										<div class="bg-1"></div>
										<div class="youtube-dummy-1">
											 <img src="/eddie/apps/euscreenxlelements/img/content/helppagebg/bookmarking.png" class="img-responsive" alt="Cinque Terre"> 
										</div>
									</a>
								</div>
									
								<div class="col-md-4">
									<a href="https://www.youtube.com/v/xVKGrGVVbMU&feature=youtu.be" target="change-frame">
										<div class="bg-2"></div>
										<div class="youtube-dummy-2">
											<img src="/eddie/apps/euscreenxlelements/img/content/helppagebg/videoposter.png" class="img-responsive" alt="Cinque Terre">
										</div>
									</a>
								</div>
								
								<div class="col-md-4">
									<a href="https://www.youtube.com/v/MP_I8ukahQU&feature=youtu.be" target="change-frame">
										<div class="bg-3"></div>
										<div class="youtube-dummy-3">
											<img src="/eddie/apps/euscreenxlelements/img/content/helppagebg/shering.png")" class="img-responsive" alt="Cinque Terre">
										</div>
									</a>
								</div>
							</div>
						</div>
						
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12">
									 <h1>Frequently Asked Questions</h1> 
									 <p class="video-page-modified-p-2">1. dolor habitasse eget tempus eget, a taciti sodales consectetuer</p>
									 <p class="video-page-modified-p">pellentesque turpis. Litora at ut nibh quis, id nullam mattis 
									 ultricies vitae eget, vulputate arcu eget libero tristique augue 
									 tempus. Ipsum diam, mauris eros orci malesuada, sollicitudin ligula</p>
									 
									 <p class="video-page-modified-p-2">2. dolor habitasse eget tempus eget, a taciti sodales consectetuer</p>
									 <p class="video-page-modified-p">pellentesque turpis. Litora at ut nibh quis, id nullam mattis 
									 ultricies vitae eget, vulputate arcu eget libero tristique augue 
									 tempus. Ipsum diam, mauris eros orci malesuada, sollicitudin ligula</p>
									
									 <p class="video-page-modified-p-2">3. dolor habitasse eget tempus eget, a taciti sodales consectetuer</p>
									 <p class="video-page-modified-p">pellentesque turpis. Litora at ut nibh quis, id nullam mattis 
									 ultricies vitae eget, vulputate arcu eget libero tristique augue 
									 tempus. Ipsum diam, mauris eros orci malesuada, sollicitudin ligula</p>
									 
									 <p class="video-page-modified-p-2">4. dolor habitasse eget tempus eget, a taciti sodales consectetuer</p>
									 <p class="video-page-modified-p">pellentesque turpis. Litora at ut nibh quis, id nullam mattis 
									 ultricies vitae eget, vulputate arcu eget libero tristique augue 
									 tempus. Ipsum diam, mauris eros orci malesuada, sollicitudin ligula</p>
									 
									 <p class="video-page-modified-p-2">5. dolor habitasse eget tempus eget, a taciti sodales consectetuer</p>
									 <p class="video-page-modified-p">pellentesque turpis. Litora at ut nibh quis, id nullam mattis 
									 ultricies vitae eget, vulputate arcu eget libero tristique augue 
									 tempus. Ipsum diam, mauris eros orci malesuada, sollicitudin ligula</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- footer -->
	<footer id="footer"></footer>
</div>

<!-- mobile navigation, will slide -->
<div id="mobilenav" class="mobilenav"></div>