<!-- container -->
<div class="page help" id="page">
	
	<!-- wrap -->
	<header id="header"></header>

	<!-- jumbotron -->
	<div class="jumbotron-wide" id="intro">
		<span class="wrap">
			<h1>HELP PAGE</h1>
		</span>
	</div>
	
	<!-- about content -->
	<div class="container main">
		
		<!-- -->
		<div class="static-page">

			<!-- sidebar -->
			<div class="sidebar hidden-xs">
			   <ul data-spy="affix" data-offset-top="190" data-offset-bottom="100">
					<li><a data-url="terms">TERMS OF USE</a></li>
					<li><a data-url="privacy">PRIVACY</a></li>
					<li><a data-url="contact">CONTACT</a></li>
					<li class="active"><a data-url="help">HELP PAGE</a></li>
			   </ul>
			</div>

			 <!-- content -->
			<div class="content">
				<div class="pads">
					
					<h1>Video tutorials</h1>
					<p>
						Lorem ipsum dolor sit amet, non nullam sit, ut tortor posuere,
						convallis vestibulum tristique vivamus ullamco quisque vulputate,
						tempus massa. Neque praesent elit dolor, dictum nullam placerat donec 
						sit. Magna porttitor lectus convallis enim amet, ultricies pulvinar metus
						elit magna. Torquent ut. Nec curabitur nesciunt ac auctor accumsan, 
						ac aliquam. 
					</p>
					<div class="section">
						<div>
							<iframe width="100%" height="515" src="https://www.youtube.com/embed/XriUea75IuM" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-4"><iframe width="100%" height="200" src="https://www.youtube.com/embed/XriUea75IuM" frameborder="0" allowfullscreen></iframe></div>
								<div class="col-md-4"><iframe width="100%" height="200" src="https://www.youtube.com/embed/XriUea75IuM" frameborder="0" allowfullscreen></iframe></div>
								<div class="col-md-4"><iframe width="100%" height="200" src="https://www.youtube.com/embed/XriUea75IuM" frameborder="0" allowfullscreen></iframe></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- footer -->
	<footer id="footer"></footer>
</div>

<!-- mobile navigation, will slide -->
<div id="mobilenav" class="mobilenav"></div>