<!-- container -->
<div class="page help" id="page">
	
	<!-- wrap -->
	<header id="header"></header>

	<!-- jumbotron -->
	<div class="jumbotron-wide" id="intro">
		<span class="wrap">
			<h1>HELP PAGE</h1>
		</span>
	</div>
	
	<!-- about content -->
	<div class="container main">
		
		<!-- -->
		<div class="static-page">

			<!-- sidebar -->
			<div class="sidebar hidden-xs">
			   <ul data-spy="affix" data-offset-top="190" data-offset-bottom="100">
					<li><a data-url="terms">TERMS OF USE</a></li>
					<li><a data-url="privacy">PRIVACY</a></li>
					<li><a data-url="contact">CONTACT</a></li>
					<li class="active"><a data-url="help">HELP PAGE</a></li>
			   </ul>
			</div>

			 <!-- content -->
			<div class="content">
				<div class="pads">
					
					<h1>Video tutorials</h1>
					<p>
						These videos will help you to navigate in MyEUscreen. The first one is for
						 bookmarking videos and creating collections, the second one is for
						  creating a video poster and the third one is guiding you in sharing your 
						  collections and video posters to other MyEuscreen users. Let us know if 
						  the tutorials were useful: <font color="#3A3AEE">editors@euscreen.eu</font>
					</p>
					<div class="section">
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-4">
									<!-- <div class="triggers" youtube-data="https://www.youtube.com/v/YNNLCW18FvY">
										<p class="play">Now playing</p>
										<div class="bg-1"></div>
										<div class="youtube-dummy-1">
											 <img src="/eddie/apps/euscreenxlelements/img/content/helppagebg/bookmark-screenshot.png" class="img-responsive" alt="Cinque Terre"> 
										</div>
										<p class="thumbnail-title">Bookmarking Videos and Creating Collections</p>
									</div> -->
									<iframe width="100%" src="https://www.youtube.com/embed/YNNLCW18FvY" frameborder="0" allowfullscreen></iframe>
								</div>
									
								<div class="col-md-4">
									<!-- <div class="triggers" youtube-data="https://www.youtube.com/v/xVKGrGVVbMU&feature=youtu.be">
										<p class="play">Now playing</p>
										<div class="bg-2"></div>
										<div class="youtube-dummy-2">
											<img src="/eddie/apps/euscreenxlelements/img/content/helppagebg/veioposter-screenshot.png" class="img-responsive" alt="Cinque Terre">
										</div>
										<p class="thumbnail-title">Creating a Video Poster</p>
									</div> -->
									<iframe width="100%" src="https://www.youtube.com/embed/xVKGrGVVbMU" frameborder="0" allowfullscreen></iframe>
								</div>
								
								<div class="col-md-4">
									<!-- <div class="triggers" youtube-data="https://www.youtube.com/v/MP_I8ukahQU&feature=youtu.be">
										<p class="play">Now playing</p>
										<div class="bg-3"></div>
										<div class="youtube-dummy-3">
											<img src="/eddie/apps/euscreenxlelements/img/content/helppagebg/sharing-screenshot.png")" class="img-responsive" alt="Cinque Terre">
										</div>
										<p class="thumbnail-title">Sharing your Collections and Video Posters </p>
									</div> -->
									<iframe width="100%" src="https://www.youtube.com/embed/MP_I8ukahQU" frameborder="0" allowfullscreen></iframe>
								</div>
							</div>
						</div>
						
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12">
									 <h1><b>F</b>requently <b>A</b>sked <b>Q</b>uestions about <b>MyEUscreen</b></h1> 
									 <p class="video-page-modified-p-2">1. What can I do in MyEUscreen?</p>
									 <p class="video-page-modified-p">In MyEUscreen you can bookmark EUscreen videos 
									 (and other material you found on EUscreen) for later use. You can also create collections 
									 grouping the EUscreen videos that you have bookmarked. It is possible to directly add EUscreen 
									 videos to your collections. Beyond that, you can create Video Posters using videos from EUscreen,
									  YouTube or Vimeo. You select videos, add a header on top and your comments in a frame below the
									   videos. You can share your Bookmarks, Collections and Video Posters with other users and invite
										them for collaboration. See the above video tutorials on <i>bookmarking, creating collections</i> and 
										<i>video posters</i>.</p>
									 
									 <p class="video-page-modified-p-2">2. Are particular browsers recommended for using MyEUscreen?</p>
									 <p class="video-page-modified-p">Generally speaking, the EUscreen website should work well with
									  all recent versions of browsers on all platforms. However, we highly recommend using the most
									   recent <a href="http://www.google.com/chrome/" target="_blank" class="inner-a">Google Chrome browser</a>, as this assures you the most optimal performance.</br></br>Regarding 
									   play-out of video we are aware that the DRM system of EUscreen is kind of strict and 
									   that this can result in playout errors on Internet Explorer and the Firefox browser, 
									   especially when they are operated from a company network with firewalls installed. We
									    are searching for a way to fixs this issue and we will update this FAQ list when this 
									    is done.</p>
									
									 <p class="video-page-modified-p-2">3. How can I search for videos or other content on EUscreen?</p>
									 <p class="video-page-modified-p">To search for videos or other content on <a href="http://www.euscreen.eu/" target="_blank" class="inner-a">EUscreen.eu</a>, you type in a search term in the 
									 search field on top of the page indicated by the traditional magnifying glass symbol. To refine a 
									 search, you can use diverse filters that are displayed in the left column next to the search results. 
									 You can filter on language, decade, topic, provider, genre, country of production and publisher.
										EUscreen search supports most European languages including all languages spoken in the 22 nations
										 that are the home to the institutions collaborating in EUscreen.
										Note that diacritical signs and language-specific letters (that are not part of the standard 
										Latin alphabet such as - “ü”, “ø” or “ł”) might cause problems.</p>
									 
									 <p class="video-page-modified-p-2">4. Can I do an advanced search on EUscreen?</p>
									 <p class="video-page-modified-p">You can do an advanced search on EUscreen.eu, but do not look for 
									 an “advanced search” button. This version of the EUscreen portal allows for advanced 
									 search by filters for initial search results: After having done an initial search 
									 using one term, you can filter the results on language, decade, topic, provider, genre,
									  country of production and publisher. You can activate filters by clicking on the 
									  categories displayed in the left column next to the search results and then choosing
									   them for one particular option within the respective category, for example
									    for “Romania” in the language filter, or “Health” in the topic filter, etc. 
									    You can use several filters at the same time to refine your search.</p>
									 
									 <p class="video-page-modified-p-2">5. How do I bookmark a video or other items on EUscreen?</p>
									 <p class="video-page-modified-p">Choose a video from the homepage or search for a particular
									  video using the search field on top of the homepage. Click on the chosen video to play it. 
									  Below the video you see three symbols, the first - the © symbol - to display the copyright 
									  information, the second - three dots with connecting lines - to share the item with others 
									  and the third - the heart symbol - to bookmark it. If you are <i>not</i> logged on to MyEUscreen, 
									  you will be asked to do so first. You will then also be offered the option to add the item 
									  to an existing or a new collection. You can find the video tutorial explaining how to bookmark 
									  a video on the top of this page and <a href="https://www.youtube.com/watch?v=YNNLCW18FvY" target="_blank" class="inner-a">also on YouTube</a>.</p>
									  
									  <p class="video-page-modified-p-2">6. How do I create a collection or add videos to one of my existing collections?</p>
									 <p class="video-page-modified-p">You can create collections in two different ways. If you know what 
									 collections you want to create, you can simply click on the “Collections” menu in MyEUscreen and then
									  on the “+”-symbol in the blue field below the “Collections” menu. Then a frame opens where you can
									   type the name of the new collection and a short description. Click on “Save” and you will find that 
									   collection in the list of your collections.</br></br>But you can also create a new collection
									    when searching or watching videos on EUscreen whenever it pops up in you mind. Below any 
									    video you play-out on EUscreen, you will see three symbols, the first (the c symbol) to
									     display the copyright information, the second (three dots with connecting lines) to share
									      the item with others and the third (the heart symbol) to bookmark it. If you are <i>not</i> logged
									       on to MyEUscreen, you will be asked to do so first. You will then be offered the option 
									       to add the item to an existing or a new collection. Click in the field “ADD TO NEW
									        COLLECTION” and type the name of the new collection in the field “New collection name”.
									         Click on “CREATE AND ADD ITEM”. Now you have created a new collection and added one 
									         video. A green pop-up window in the upper right of the homepage will confirm that you 
									         have successfully added the video to the collection.</br></br> If you want to add another video
									          the new collection or to an existing collection, click in the bookmarking frame (that opens 
									          after you have clicked on the heart symbol below a video) and then click on the “v” symbol
									           in the “Bookmarks” field to open a frame displaying all your existing collections. Click 
									           on the name of the collection you want to add the video to and then click on “DONE” to add 
									           it. A green pop-up window in the upper right of the homepage will confirm that you have
									            successfully added the video to the collection. 
												If a video has been added to a collection before, the name of that collection will 
												be greyed-out in the list of your collection and you cannot add it again.</br></br>You can find the video 
												tutorial explaining how to create a collection and add videos to a collection on 
												the top of this page and <a href="https://www.youtube.com/watch?v=YNNLCW18FvY" target="_blank" class="inner-a">also on YouTube</a>.</p>
									  
									  <p class="video-page-modified-p-2">7. How do I create a Video Poster?</p>
									 <p class="video-page-modified-p">First, you log in to <a href="http://euscreen.eu/myeuscreen.html?page=login" target="_blank" class="inner-a">MyEUscreen</a>. Then, you click on “Video Posters” 
									 in the upper left tab of the page and follow the following steps:</br>
									 <ol>
									 <li>Click on the “+” symbol to create a new Video Poster.</li></br>
									  <li>Choose the format for your poster by clicking on one of the four options displayed.</li></br>
									  <li>Choose the colour scheme for your poster by clicking on one of the options displayed. Note:
									  you cannot change format or colour scheme once you have started adding videos or text to the 
									  poster.</li></br>
									   <li>Add EUscreen videos that you have bookmarked or added to one of your collections before by
									   dragging them into the particular squares of the format. If you want to add videos from YouTube 
									   or Vimeo you first click on the “+” symbol in the field click either on the Vimeo or the YouTube
									    logo. Add the URL or the particular video and click on “submit”.</li></br>
									      <li>Add a header and your comment, explanation, memory or story below or the selected videos.</li>
									     </ol></p>
									     
										<p class="video-page-modified-p">Note that you cannot edit the letter type or size of the header, but you can edit the layout of 
										the text you have added. You can also add hyperlinks to other sources related to the videos in
										 your poster.</br></br>
										 You can find the video tutorial explaining how to create a Video Poster on the top of this page <a href="https://www.youtube.com/watch?v=xVKGrGVVbMU" target="_blank" class="inner-a">and on YouTube</a>.</p>
									  
									  <p class="video-page-modified-p-2">8. How do I save a Video Poster?</p>
									 <p class="video-page-modified-p">Note: all your steps are saved automatically and therefore you will not find a “save”-button 
									 in the poster creation mode.</br>
									 You can preview your video poster at any moment by clicking on the green “Preview” field in the
									  upper right of the page. To end preview, click on the “x”-symbol in the upper right again. To 
									  return to MyEUscreen and thus to your Bookmarks, Collections and Video Posters, click on the
									   “x”- symbol in the upper right of the page.</br></br>
									   You can find the video tutorial explaining how to create a Video Poster on the top of this page <a href="https://www.youtube.com/watch?v=xVKGrGVVbMU" target="_blank" class="inner-a">and on YouTube</a>.</p>
									  
									  <p class="video-page-modified-p-2">9. How can I change or edit a Video Poster?</p>
									 <p class="video-page-modified-p">When you have created a Video Poster, it will be displayed when you click on “Video Posters” in MyEUscreen.
									  (note: you have to log in to MyEUscreen first).</br>
									  All your Video Posters will be displayed here including those that other users have shared with 
									  you. If you click on the little pen symbol next to the poster (the one in the middle between 
									  the <i>share</i> and the <i>trash</i> symbols) you can start editing the Video Poster.</br>
									  Note: you might not have the rights to edit video posters or collections that were shared with 
									  you by other users. The user who has shared the video with you, has to give you the right to edit
									   the Video Poster before you can edit it.</p>
									  
									  <p class="video-page-modified-p-2">10. How do I share a Video Poster? </p>
									 <p class="video-page-modified-p">Once you have created a Video Poster, you can share it with other users:</br>
									 <ol>
									 <li>Close the preview mode by clicking on the “x” symbol in the upper right.</li></br>
									 <li>You will see the new Video Poster on the list of your Video Posters.</li></br>
									 <li>Click on the button with the share symbol (which is the first of the three little blue 
									 symbols next to the pen symbol for editing and the trash symbol for erasing an existing
									  Video Poster).</li></br>
									  <li>Add the email address of an already registered user of MyEUscreen.</li></br>
									  <li>Click “send invite”.</li></br>
									  <li>Choose the rights for this person by choosing between the options “can view”,
									   “can comment”, “can edit” or “stop sharing”.</li></br>
									   <li>Click on “Save changes” to confirm your choice. Now your video is shared.</li></br>
									   <li>Click on “Close” to return to MyEUscreen.</li></br>
									   </ol>
									   </p>
									   <p class="video-page-modified-p">Note: the person you have shared the video with, will receive an email with the
									    following message: “Hello! [<i>your username</i>] would like to share a Video Poster with you! 
									    Please log in to your account on <a href="http://euscreen.eu/myeuscreen.html?page=login" target="_blank" class="inner-a">MyEUscreen</a> or register on the <a href="http://euscreen.eu/myeuscreen.html?page=register" target="_blank" class="inner-a">Sign Up page</a>.</br>
									    You can find the video tutorial explaining how to share MyEUscreen collections and Video Posters on
									     the top of this page <a href="https://www.youtube.com/watch?v=MP_I8ukahQU" target="_blank" class="inner-a">and on YouTube</a>.</p>
									     
								     <p class="video-page-modified-p-2">11. Can I share Collections and Video Poster also outside MyEUscreen?</p>
									 <p class="video-page-modified-p">Please note that at the moment, because of copyright reasons
									  you can only share Collections and Video Posters to other MyEUscreen users. It is not possible 
									  to share your creation outside MyEUscreen, such as on a blog of Facebook.</p>
									 
									 <p class="video-page-modified-p-2">12. What can I do with video posters?</p>
									 <p class="video-page-modified-p">You can use it in various ways. You can send a video
									  postcard to your mom (but she will need to have an MyEUscreen account). You can use it as
									   assignment for your students in the classroom. You can plan a campaign. You can comment 
									   on one, two, or four Videos, compare these, tell a story with them or share information about 
									   these videos. You can write and share a video essay or create an academic poster. Your 
									   imagination is the limit.</br></br>
									   Note: In the future, you will be able to suggest your video posters for publication on the
									    EUscreen homepage by sharing your Video Poster/s with the editorial team of EUscreen
									     (editors[at]euscreen.eu).</p>
									 
									 <p class="video-page-modified-p-2">13. What can I do with collections? </p>
									 <p class="video-page-modified-p">You can create lists of videos with the same subject for 
									 later use, for example for presentations or for use in the classroom.  Or you can share your 
									 collections with other <a href="http://euscreen.eu/myeuscreen.html?page=login" target="_blank" class="inner-a">MyEUscreen</a> users of, for example when you share the same fascination for 
									 a topic or if you want to collaborate with someone research a particular topic or genre.</p>
									 
									 <p class="video-page-modified-p-2">14. Can I edit videos from EUscreen and use just a fragment for a video poster?</p>
									 <p class="video-page-modified-p">At the moment, it is for copyright reasons <i>not</i> possible to edit videos and to use only a fragment of a clip for a Video Poster.</p>
									 
									 <p class="video-page-modified-p-2">15. What are the Terms of Use?</p>
									 <p class="video-page-modified-p">Terms of Use define the conditions for using videos and other
									  material on EUscreen. EUscreen does not own the copyright of the collected videos on EUscreen.eu 
									  that are contributed by many different audiovisual archives all over Europe. The Terms of Use also
									   define the copyright of content created by users of EUscreen.eu, for example collections or Video 
									   Posters. In a nutshell, users of MyEUscreen agree that EUscreen owns the copyright for any
									    contribution by users on MyEUscreen. Please see the full Terms of Use <a href="http://euscreen.eu/terms.html" target="_blank" class="inner-a">here</a>.</p>
									 
									 <p class="video-page-modified-p-2">16. Where are my Video Posters and Collections saved?</p>
									 <p class="video-page-modified-p">Your Bookmarks, Collections and Video Posters are saved in your
									  MyEUscreen account, stored on a server provided by EUscreen’s Dutch partner <a href="http://www.noterik.nl/" target="_blank" class="inner-a">Noterik</a> in Amsterdam
									   (The Netherlands). You can always access your Bookmarks, Collections and Video Posters by logging
									    in to MyEUscreen. For the storage of the data you share when registering on MyEUscreen and 
									    creating Bookmarks, Collections and Video Posters, EUscreen’s privacy policy applies. See
									     EUscreen’s privacy policy <a href="http://euscreen.eu/privacy.html" target="_blank" class="inner-a">here</a>.</p>
									     
								     <p class="video-page-modified-p-2">17. How can I retrieve my Video Posters?</p>
									 <p class="video-page-modified-p">To retrieve your Video Posters, you have to log in to your account on MyEUscreen and click on “Video Posters” in the menu on the upper right of the page.</p>
									
									
									 <p class="video-page-modified-p-2">18. Can I share my Video Posters on Facebook or other social media?</p>
									 <p class="video-page-modified-p">At the moment, you cannot share them on Facebook or other 
									 social media. MyEUscreen will implement in the near future the option for users to suggest 
									 their Video Posters for publication on the EUscreen homepage. Users can simply share their
									  Video Posters with the EUscreen editorial team (editors[at]euscreen.eu). If the editorial 
									  team accepts it for publication, you will have access to your Video Poster on the home page 
									  and you can then share it on social media.</p>
									 
									 <p class="video-page-modified-p-2">19. Can I publish my Video Posters on the homepage of EUscreen?</p>
									 <p class="video-page-modified-p">You cannot publish your Video Posters on the homepage of 
									 EUscreen yourself. For copyright reasons EUscreen has to review Video Posters suggested by users 
									 for publication before publishing them. At the moment, the editorial mechanism is not yet implemented 
									 technically. Once the editorial mechanism will be implemented, you can suggest your Video Posters for
									  publication by sharing the Video Poster with EUscreen’s Editorial Team (editors[at]euscreen.eu). If 
									  a Video Poster is accepted for publication, you can see it on the home page and share the public
									   link with others, for example on social media. At the moment, you can share your Video Posters
									    only with other registered users.</p>
									 
									 <p class="video-page-modified-p-2">20. Who has access to my Video Posters?</p>
									 <p class="video-page-modified-p">Only you yourself and all other registered users you have shared
									  your Video Posters with have access. You can therefore use Video Posters in groups (a classroom for
									   example) when all members of that group register as user on MyEUscreen.</p>
									 
									 <p class="video-page-modified-p-2">21. What is the EUscreen’s Editorial Team?</p>
									 <p class="video-page-modified-p">EUscreen’s Editorial Team is a team of editors (archivists & academics) that reviews Video</br>
									 Posters and other contributions suggested by users for publication on the EUscreen homepage.</br>
									 For copyright reasons, the editorial team has to check all Video Posters suggested for publication
									  according to EUscreen’s <a href="http://euscreen.eu/terms.html" target="_blank" class="inner-a">Terms of Use</a> and paragraph 6.9 in particular. It states the following:</br>
									  “The Contributions you post on the Website must be respectful and relevant to the topic.</br>
									  Notwithstanding the provisions set out in article 3.2, you guarantee that you will not circulate any Contributions which:</br></p>
									 
									  <ul class="modified-faq-ul">
									  <li>are defamatory, abusive, harassing, insulting and/or threatening or that could be deemed stalking;</li></br>
									  <li>are bigoted, hateful or racially offensive;</li></br>
									  <li>are vulgar, obscene or sexual explicit (language or images);</li></br>
									  <li>encourage or advocate illegal activity or the discussion of illegal activities with the intent to commit them;</li></br>
									  <li>contains knowingly false statements, libel or slander;</li></br>
									  <li>has a commercial, promotional or advertising purpose such as unwanted or unauthorized advertisements, promotional material, 
									  "spam", chain letters, gambling games or other unwanted messages.”</li></br>
									  </ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- footer -->
	<footer id="footer"></footer>
</div>

<!-- mobile navigation, will slide -->
<div id="mobilenav" class="mobilenav"></div>